@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
nav{
    position: fixed;
    top: 0;
    padding: 10px 90px;
    height: 50px;
    width: 100%;
    left: 0 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    
}
nav .logo{
    padding:10px 20px;
    height: 35px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:whitesmoke;
}
.sitelogo{
    position: inherit;
    /* border:whitesmoke 3px solid; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float:left;
    left:0;
}
.site-Logo{
    border:whitesmoke 3px solid; 
    position: absolute;
    float: left;
    padding:0;
    border:0;
    margin:0;
    left:2px;
    top:3px;
    
    text-align: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding:0;
    display: flex;
}
nav ul li a{
    line-height: 40px;
    color: #fff;
    padding:0px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:bisque;
    opacity:0.3;
    background:rgba(0,0,0,0.7);
    border:6px;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(150deg, #71b7e6, #9b59b6)

}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content:  "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 30px;
    background:linear-gradient(150deg, #71b7e6, #9b59b6)

}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px) ;
    /* margin: 20px 0 12px 0; */
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:  1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition:all 1s ease ;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
 border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;

}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-around;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width:18px ;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent ;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type='radio']{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background:linear-gradient(150deg, #71b7e6, #9b59b6)
}
form .button input:hover{
    background:linear-gradient(-150deg, #71b7e6, #9b59b6)
}
@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-width: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}