<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"  />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/about.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <nav>
        <div class="sitelogo"><img src="../images/airforce_logo.jpg" alt="airforce_logo" class="site-Logo"></div>
         <div  class="logo">NAFTCIS</div>
         <ul>
             <li><a href="index.html">Home</a></li>
             <li><a href="About.html">About</a></li>
             <li><a href="services.html">Services</a></li>
             <li><a href="#">Contact</a></li>
         </ul>
 
    </nav>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About us</h1>
                </div>
                <div class="content" style="z-index: -10;">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ullam voluptatem placeat quibusdam consequuntur optio mollitia sapiente accusantium vitae iste expedita, nisi tempore porro eveniet. Voluptates officiis amet eos vero recusandae at velit unde repellat consequatur atque exercitationem dolorem praesentium, dolores, numquam deleniti ssoluta ut, sunt officia debitis? Porro, ipsa!</p>
                    
                </div>
                <div class="image-section">
                    <img src="../images/aboutus.jpg" alt="" >
                </div>
            </div>
        </div>
    </div>
     
</body>
</html>