<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginsytle.css">
    <title>Login Form</title>
</head>
<body>
    <nav>
       <div class="sitelogo"><img src="images/airforce_logo.jpg" alt="airforce_logo" class="site-Logo"></div>
        <div  class="logo">NAFTCIS</div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </nav>
    <div class="container-meta">
        <div class="container">
            <h1>Login</h1>
            <form action="/" class="form" method="POST">
                <div class="form_control">
                    <input type="text" id="fName"  name="service-number" required>
                    <label>Service Number</label>
                </div>
                <div class="form_control">
                    <input type="password" id="Upassword" name="password" required>
                    <label>Password</label>
                </div>
                <button class="btn" id="submit_btn" type="submit" >Login</button>
                <p class="text">Don't have an account? <a href="#">Register</a></p>
            </form>

        </div>
        
    </div>
    <div class="custom-shape-divider-bottom-1648422649">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <!-- Javascript Section -->
    <script src="../scripts/loginscript.js"> 
        
    </script>
</body>
</html>